<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<variable name="logContent" value="${longdate}|${uppercase:${level}}|${callsite}|${message}"/>

	<targets>
		<target name="systemFile"  xsi:type="File" fileName="${basedir}/logs/${shortdate}/System.txt" layout="${logContent}" />
		<target name="errorFile"  xsi:type="File" fileName="${basedir}/logs/${shortdate}/Error.txt" layout="${logContent}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="systemFile" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>